example/NMTOKENAttribute.xsd

<!--
Copyright (C) 2006 W3C (R) (MIT ERCIM Keio), All Rights Reserved.
W3C liability, trademark and document use rules apply.

http://www.w3.org/Consortium/Legal/ipr-notice
http://www.w3.org/Consortium/Legal/copyright-documents

Generated from: $Id: examples.xml,v 1.174 2009/03/19 17:20:15 pdowney Exp $
-->
<xs:schema
    xmlns="http://www.w3.org/2002/ws/databinding/examples/6/09/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ex="http://www.w3.org/2002/ws/databinding/examples/6/09/"
    targetNamespace="http://www.w3.org/2002/ws/databinding/examples/6/09/"
    elementFormDefault="qualified"
>
    <xs:element name="NMTOKENAttribute" type="ex:NMTOKENAttribute"/>
    <xs:complexType name="NMTOKENAttribute">
        <xs:sequence>
            <xs:element name="text" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="NMTOKEN" type="xs:NMTOKEN"/>
        <xs:attribute name="other" type="xs:string"/>
    </xs:complexType>
    <xs:element name="echoNMTOKENAttribute">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ex:NMTOKENAttribute"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
